
body{
    background-color: #ff003c;
}


h1  {
    color: #000706;


    
}



p{
    color: #000706;
   
}


h2{
    color: #000706;
   
}

#paragrafo-x {
color: aqua;
    text-align: center;

}

#diferentes {
    color: aqua;
text-align: center;
}